{% include 'main/header.html.twig' %}
<div class="jumbotron">
    {% for article in blog %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    {% endfor %}
</div>
{% include 'main/footer.html.twig' %}