{% include 'main/header.html.twig' %}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top: 20px;">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <div class="dropdown">
                    <button style="width: 100%" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog
                    </button>
                    <div style="width:100%;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-center" href="/admin/blog/">List</a>
                        <a class="dropdown-item text-center" href="/admin/blog/add">Add</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button style="width: 100%" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog categories
                    </button>
                    <div style="width:100%;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-center" href="/admin/blog/category/">List</a>
                        <a class="dropdown-item text-center" href="/admin/blog/category/add">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin-top:20px;">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Blog articles</h5>
                        <h5>{{ articles|length }}</h5>
                        <a href="/admin/blog">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Blog categories</h5>
                        <h5>{{ categories|length }}</h5>
                        <a href="/admin/.blog/categories">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <h5>{{ users|length }}</h5>
                        <a href="/admin/users">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'main/footer.html.twig' %}